/* Reset box-sizing and margin */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins';
    box-sizing: border-box;
  }
  
  /* Background styling */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: url(https://images.unsplash.com/photo-1650735310415-392ab5378954?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRvZG8lMjBsaXN0fGVufDB8fDB8fHww) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
  }
  
  /* Container styling for the to-do list box */
  .container {
    width: 100%;
    min-height: 75vh;
    padding: 10px;
  }

  .todo-app {
    width: 100%;
    max-width: 540px;
    background-color:rgba(165, 196, 221, 0.966);
    color: black;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .todo-app:hover { 
    transform: scale(1.01);
  }

  .todo-app h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 160px;
    color: #333;
    display: flex;
    align-items: center;
  }

  .todo-app h1 img {
    width: 25px;
    margin-left: 10px;
   }
  
  /* Input styling */
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ddd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  
  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
 }
  
  /* Add button styling */
  button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #007bff;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Task list styling */
  ul li  {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }

  ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
  }

  ul li.checked {
    color:#007bff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    background-image: url(images/checked.png);
  }
  
  /* End task */
  ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }

  ul li span:hover{
    background: rgb(228, 114, 114);
  }
   